@page
@model CountdownModel
@{
    ViewData["Title"] = "Compte à rebours";
}
@section heads{
  <link href="@Url.Content("~/css/usersite/countdownpage.css")" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="@Url.Content("~/js/countdown.js")"></script>
}

<div class="countdown-body">
  @{
          //Traitement de la requête GET
          @if (@Model.IsError == false && @Model.ResultLastCountdown != null){ 
              @if (1==1){//condition de verification données
                      <div class="countdown-block">
                        @if(!String.IsNullOrEmpty(@Model.ResultLastCountdown.image)){
                           <div class="countdown-image box">
                                  <img src="data:image;base64,@Model.ResultLastCountdown.image"/>
                              </div> 
                        }
                              <div class="countdown-text box">
                                  @Model.ResultLastCountdown.text
                                  <div id="countdown-display">
                                  </div>
                                  <script>
                                      countDown(@Model.ResultLastCountdown.endingDateCountdown,"countdown-display");
                                  </script>
                              </div>
                      </div>
              }
          }
          else {
            <div class=" countdown-block box">Erreur API</div>
          }
        }
</div>