@page
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
}
@section heads{
  <link href="@Url.Content("~/css/usersite/homepage.css")" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="@Url.Content("~/js/countdown.js")"></script>
}

<div class="home-body">
    <div class="wall-box box">
    @Html.Raw(Model._ResultViewWall)
    </div>
    @Html.Raw(Model._ResultViewNews) 
    @Html.Raw(Model._ResultViewSocialnetworks)
    @Html.Raw(Model._ResultViewCountdown)
</div>


<script type="text/javascript" src="@Url.Content("~/lib/tilt/tilt.jquery.js")"></script>
<script>
    $('.box').tilt({
    perspective: 2000,
    easing:         "cubic-bezier(.03,.98,.52,.99)"
    })
</script>
    

