@page
@model SocialnetworksModel
@{
    ViewData["Title"] = "Réseaux Sociaux";
}
@section heads{
  <link href="@Url.Content("~/css/usersite/socialnetworkspage.css")" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="@Url.Content("~/lib/jquery/dist/jquery.js")"></script>
}


<div class="socialnetworks-body">
  @{
    //Traitement de la requête GET
    @if (@Model.IsError == false){ 
      @foreach (var e in @Model.Result){
        @if (1==1){//condition de verification données
          if(e.pageWidget == "socialnetworks"){
            <!-- SnapWidget -->
            <script src="https://snapwidget.com/js/snapwidget.js"></script>
            <iframe src="@e.widget" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
          }
        }
      }
    }
    else {
      <div style="color:green;"> Erreur API </div>
    }
  }

</div>


    

