@page
@model MediasAdminModel
@{
    ViewData["Title"] = "Admin - Medias";
    Layout = "/Pages/Shared/_AdminLayout.cshtml";
}
@section heads{
  <link href="@Url.Content("~/css/usersite/admin/mediasadmin.css")" rel="stylesheet" type="text/css" />
}

  <div class="media-box ">

    <form method="post" enctype="multipart/form-data">
        <div class="medias-addnew">
          <legend class="medias-name">Ajouter média</legend>

            <div class="addnew-name">
              <label class="addnew-name">Nom de la photo : </label>
              <input type="text" name="name" class="addnew-name" placeholder="Ex: JPO" required>
            </div>

            <div class="addnew-img">
              <label class="addnew-img">Image : </label>
              <input class="addnew-img" asp-for="ImageUpload" type="file" accept="image/png, image/jpeg">
            </div>

            <div class="addnew-video">
              <label class="addnew-video">Video : </label>
              <input type="text" name="video" class="addnew-video" placeholder="Ex: https://www.youtube.com/watch?v=WIIAbl7pBnI">
            </div>

            <div class="addnew-start-date">
              <label class="addnew-start-date">Date de début : </label>
              <input class="addnew-start-date" name="startdate" type="date" required>
            </div>

            <div class="addnew-end-date">
              <label class="addnew-end-date">Date de fin : </label>
              <input class="addnew-end-date" name="enddate" type="date" required>
            </div>

            <div class=button>
            <button class="button-apply" name="submit" value="add"> Ajouter </button>
            </div>
          
        </div>
      </form>

@{
  //Traitement de la requête GET
  DateTime epoch = new DateTime(1970, 1, 1, 0, 0, 0, 0).ToLocalTime();
  @if (@Model.IsError == false){ 
    @foreach (var e in @Model.Result){
      var beginningDate = epoch.AddSeconds(e.beginningDate).ToString("yyyy-MM-dd");
      var endingDate = epoch.AddSeconds(e.endingDate).ToString("yyyy-MM-dd");
      @if (1==1){//condition de verification données
          <form method="post" class="medias-param">
            <div>
              @if (!String.IsNullOrEmpty(e.name)){
                <legend class="medias-name">@e.name</legend>
              }
              else {
                <legend class="medias-name">Médias</legend>
              }
            <div class="param-name">
                <label class="param-name">Nom de la photo : </label>
                @if (!String.IsNullOrEmpty(e.name)){
                <input type="text" name="name" class="param-name" placeholder="Ex: JPO" value="@e.name" required>
              }
              else {
                <input type="text" name="name" class="param-name" placeholder="Ex: JPO" value="Média" required>
              }
            </div>

            @if (!String.IsNullOrEmpty(@e.image)){
              <div class="param-img">
                <label class="param-img">Image : </label>
                <img class="param-img" src="data:image/png;base64,@e.image"><span><img src="data:image/png;base64,@e.image" alt="@e.name"></span>
                <input type="hidden" name="image" value="@e.image">
              </div>
            }
            else if (!String.IsNullOrEmpty(@e.video)){
              <div class="param-video">
                <label class="param-video">Video : </label>
                <input type="text" name="video" class="param-video" placeholder="Ex: https://www.youtube.com/watch?v=WIIAbl7pBnI" value="@e.video" readonly>
              </div>
            }
            <div class="param-start-date">
                <label class="param-start-date">Date de début : </label>
                <input class="param-start-date" type="date" name="startdate" value="@beginningDate" required>
            </div>
            <div class="param-end-date">
                <label class="param-end-date">Date de fin : </label>
                <input class="param-end-date" type="date" name="enddate" value="@endingDate" required>
            </div>
            <div class=button>
                <button class="button-delete" value="delete" name="submit"> Supprimer </button>
                <button class="button-apply" value ="edit" name="submit"> Modifier </button>
            </div>
            <input type="hidden" name="id" value="@e.id">
            </div>
          </form>
      }
    }
  }
  else {
    <div class="medias-param"> Erreur API </div>
  }
}
</div>

