@page
@model SocialnetworksAdminModel
@{
    ViewData["Title"] = "Admin - Socialnetworks";
    Layout = "/Pages/Shared/_AdminLayout.cshtml";
}
@section heads{
  <link href="@Url.Content("~/css/usersite/admin/socialnetworksadmin.css")" rel="stylesheet" type="text/css" />
}
    <div class="socialnetworks-box">
  @{
    //Traitement de la requête GET
    @if (@Model.IsError == false){ 
      @foreach (var e in @Model.Result){
        @if (1==1){//condition de verification données
            <form method="post">
              <div class="home-param">
                <legend class="home-name">@e.pageWidget</legend>
                <input type="hidden" name="username" value="@e.username">
                <input type="hidden" name="pagewidget" value="@e.pageWidget">
                <div class="widget-param">
                  <label class="widget-param">Lien widget : </label>
                  <input type="text" name="widget" class="widget-param" placeholder="ex:https://snapwidget.com/js/snapwidget.js" value="@e.widget">
                </div>

                <div class="button">
                  <button class="button-apply" name="submit" value="edit"> Modifier </button>
                </div>
                <input type="hidden" name="id" value="@e.id">
              </div>
            </form>
        }
      }
    }
    else {
      <div class="home-param"> Erreur API </div>
    }
  }


  </div>


